{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Boost Auto LLC</title>
<meta charset="utf-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/sales.css' %}">
</head>
<body>

    <header>
        <div class="container">
            <a href="{% url 'post_new' %}" class="top-menu">
                {% include './icons/file-earmark-plus.svg' %} Add Sales Lead
            </a>
        <h1><a href="/">Boost Auto LLC</a></h1>
    </div>
        <ul>
            <li><a href="{% url 'sales_lead_list' %}">Sales Leads</a></li>
            <li><a href="{% url 'sold_units_list' %}">Sold Units</a></li>
            <li><a href="{% url 'employees_vendors_list' %}">Employees and Vendors</a></li>
            <li><a href="{% url 'loan_calc' %}">Loan Calculator</a></li>
          </ul>
    </header>
<main>
    <div>
        {% block content %}
        
        {% endblock %}
    </div>
    
</main>
    

<footer>
</footer>
</div>
</body>
</html>