{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Boost Auto LLC</title>
<meta charset="utf-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">
</head>
<body>

    <header>
        <h1><a href="/">Sales Leads</a></h1>
    </header>
    
    {% for sale in sales %}
        <article>
            <time>published: {{ sales.published_date }}</time>
            <h2><a href="">{{ sales.first_name }} {{ sales.last_name }}</a></h2>
            <p>{{ sales.telephone }}</p>
        </article>
    {% endfor %}


<footer>
        Copyright &copy; 2024 SDEV220 Team 3
        This Document Was Last Modified on:
          <div><script>document.write(document.lastModified);</script></div>
</footer>
</div>
</body>
</html>