h1 a {
    color: #000000;
}

h2 a {
    color: #375daf;
}

body {
    padding-left: 15px;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }


  p {
    margin: 0;
    padding: 0;
    
  }

